<div class="col">
  <div class="card mb-4 rounded-3 shadow-sm border-primary">
    <div class="card-header py-3 text-white bg-primary border-primary">
      <h4 class="my-0 fw-normal">Borrar</h4>
    </div>
    <form *ngIf="item" [formGroup]="formulario" (ngSubmit)="confirmar_submit()" class="card-body">
      <div class="form-floating input my-3">
        <input class="form-control bg-light" type="text" id="nombre" formControlName="nombre" name="nombre" placeholder="Nombre" readonly>
        <label class="text-muted" for="nombre">Nombre</label>
        <small class="text-danger" *ngIf="nombre?.touched && nombre?.errors">Ingrese un nombre para la pizza.</small>
      </div>
      <div class="form-floating input my-3">
        <input class="form-control" type="text" id="ingredientes" formControlName="ingredientes" name="ingredientes" placeholder="Ingredientes (separado por comas)" readonly>
        <label class="text-muted" for="ingredientes">Ingredientes (separado por comas)</label>
        <small class="text-danger" *ngIf="ingredientes?.touched && ingredientes?.errors">Ingrese los ingredientes (separados por comas).</small>
      </div>
      <div class="form-floating input my-3">
        <input class="form-control" type="number" id="precio" formControlName="precio" name="precio" placeholder="Precio" readonly>
        <label class="text-muted" for="precio">Precio</label>
        <small class="text-danger" *ngIf="precio?.touched && precio?.errors">Ingrese el precio.</small>
      </div>
      <div class="form-floating input my-3">
        <input class="form-control" type="number" id="peso" formControlName="peso" name="peso" placeholder="Peso (500g-1000g)" readonly>
        <label class="text-muted" for="peso">Peso (500g-1000g)</label>
        <small class="text-danger" *ngIf="peso?.touched && peso?.errors">Ingrese un peso válido (entre 500 y 1000 gramos).</small>
      </div>
      <button type="submit" class="w-100 btn btn-lg btn-outline-primary" [disabled]="!formulario.valid">Confirmar</button>
    </form>
  </div>
</div>